* {
  margin: 0;
  padding: 0;
  font-family: 'Sofia', sans-serif;
}

.user-current-events h2 {
  color: #0a4870;
  font-weight: 500;
}

.user-current-events {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
  gap: 4rem;
}
.user-current-events .booking-card {
  position: relative;
  width: 300px;
  height: 545px;
  display: flex;
  flex: 0 0 300px;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #0a4870;
  transition: 0.3s;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.user-current-events .booking-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 72, 112, 0);
  transition: 0.3s;
}
.user-current-events .booking-card .book-container {
  height: 200px;
}
.user-current-events .booking-card .book-container .content {
  position: relative;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform: translateY(-200px);
  transition: 0.3s;
}
.user-current-events .booking-card .book-container .content .btn {
  border: 3px solid white;
  padding: 10px 15px;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.user-current-events .booking-card .book-container .content .btn:hover {
  background: white;
  border: 0px solid white;
  color: #0a4870;
}
.user-current-events .booking-card .informations-container {
  flex: 1 0 auto;
  padding: 20px;
  background: #fff;
  transform: translateY(206px);
  transition: 0.3s;
}
.user-current-events .booking-card .informations-container .title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
.user-current-events .booking-card .informations-container .title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 50px;
  margin: auto;
  background: #0a4870;
}
.user-current-events .booking-card .informations-container .price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.user-current-events .booking-card .informations-container .price .icon {
  margin-right: 10px;
}
.user-current-events .booking-card .informations-container .more-information {
  opacity: 0;
  transition: 0.3s;
}
.user-current-events
  .booking-card
  .informations-container
  .more-information
  .info-and-date-container {
  display: flex;
}
.user-current-events
  .booking-card
  .informations-container
  .more-information
  .info-and-date-container
  .box {
  flex: 1 0;
  padding: 15px;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  font-weight: bold;
  font-size: 0.9em;
}
.user-current-events
  .booking-card
  .informations-container
  .more-information
  .info-and-date-container
  .box
  .icon {
  margin-bottom: 5px;
}
.user-current-events
  .booking-card
  .informations-container
  .more-information
  .info-and-date-container
  .box.info {
  color: #ec992c;
  margin-right: 10px;
}
.user-current-events
  .booking-card
  .informations-container
  .more-information
  .disclaimer {
  margin-top: 20px;
  font-size: 0.8em;
  color: #7d7d7d;
}
.user-current-events .booking-card:hover::before {
  background: rgba(10, 72, 112, 0.6);
}
.user-current-events .booking-card:hover .book-container .content {
  opacity: 1;
  transform: translateY(0px);
}
.user-current-events .booking-card:hover .informations-container {
  transform: translateY(0px);
}
.user-current-events
  .booking-card:hover
  .informations-container
  .more-information {
  opacity: 1;
}

@media (max-width: 768px) {
  .user-current-events .booking-card::before {
    background: rgba(10, 72, 112, 0.6);
  }
  .user-current-events .booking-card .book-container .content {
    opacity: 1;
    transform: translateY(0px);
  }
  .user-current-events .booking-card .informations-container {
    transform: translateY(0px);
  }
  .user-current-events .booking-card .informations-container .more-information {
    opacity: 1;
  }
}
.credits {
  display: table;
  background: #0a4870;
  color: white;
  line-height: 25px;
  margin: 10px auto;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}
.credits a {
  color: #e3ebf1;
}
