@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.chart-1,
.chart-2,
.chart-3,
.chart-4 {
  margin-bottom: 10%;
  margin: 10% 0px;
  border-radius: 10px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  transition: all 0.8s ease-in-out;
}

/*  Dashboard CSS  */
.admin-container,
.analytics-container {
  height: fit-content;
  padding-bottom: 50px;
  background-color: #f1f4fa;
  transition: all 0.3s ease-in-out;
}

.admin-body.dashboard {
  height: fit-content;
  padding-bottom: 50px;
}

.admin-container {
  opacity: 0;
}

.admin-body {
  margin-left: 280px;
  height: 100vh;
}

.admin-container.toggle {
  background-color: #222131;
}

.admin-sidebar {
  position: fixed;
  top: 12px;
  left: 12px;
  width: 260px;
  height: 97vh;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.admin-sidebar.toggle {
  background-color: #39394b;
}

.admin-sidebar-logo {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.admin-sidebar-logo p {
  font-size: 22px;
  font-weight: 600;
  color: #3a36db;
}

.admin-sidebar.toggle .admin-sidebar-logo p {
  color: #fff;
}

.admin-sidebar-content,
.sidebar-content-list {
  width: 100%;
  padding: 10px 10px;
  border-radius: 10px;
  height: 85%;
  position: relative;
}

.sidebar-content-list .admin-sidebar-card {
  list-style-type: none;
  margin-top: 10px;
}

.admin-sidebar-card a .sidebar-card-img {
  padding: 20px 27px;
  width: 76px;
}

.admin-sidebar-card a .sidebar-text {
  font-size: 16px;
  font-weight: 500;
}

.admin-sidebar-card a {
  text-decoration: none;
  color: #788b9a;
  font-size: 17px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-weight: 500;
}

.admin-container.toggle .admin-sidebar-card a {
  color: #fff;
}

.admin-sidebar-card:hover a,
.sidebar-select.active {
  color: #3a36db;
  background-color: #d3ebff;
}

.admin-container.toggle .admin-sidebar-card:hover a,
.admin-container.toggle .sidebar-select.active {
  background-color: #363584;
}

.analytics-content {
  margin-left: 270px;
}

.admin-nav {
  padding-top: 50px;
  margin-left: 10px;
  width: 95%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.admin-current-date {
  background: #3a36db;
  padding: 8px 18px;
  color: #fff;
  border-radius: 6px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.admin-container.toggle .admin-current-date {
  background-color: #6254ff;
}

.admin-current-date::after {
  content: url('../Images/Admin/angle-down.svg');
  display: block;
  filter: invert(1);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.admin-container.toggle .admin-nav {
  color: #fff;
}

.admin-container .admin-nav-right {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.admin-access {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 25px 0;
  gap: 4rem;
}

.admin-access-card {
  width: 240px;
  height: 95px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  gap: 1.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.admin-access-card:hover {
  transform: scale(1.1) translate(-4px, -4px);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.admin-container.toggle .admin-access-card:hover {
  transform: scale(1.1) translate(-4px, -4px);
  box-shadow: rgba(255, 255, 255, 0.07) 0px 1px 1px,
    rgba(255, 255, 255, 0.07) 0px 2px 2px, rgba(255, 255, 255, 0.07) 0px 4px 4px,
    rgba(255, 255, 255, 0.07) 0px 2px 2px, rgba(255, 255, 255, 0.07) 0px 8px 8px;
}

.admin-charts-1:hover,
.admin-charts-2:hover {
  transform: scale(1.03) translate(-4px, -4px);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.access-card-content .card-content-1 {
  font-size: 20px;
  font-weight: 900;
}

.access-card-content .card-content-2 {
  font-size: 14px;
  color: #788b9a;
}

.admin-container.toggle .card-content-2 {
  color: #abadbf;
}

.admin-charts,
.admin-recent-events {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 40px 0px;
}

.admin-charts-1,
.admin-recent-event-1 {
  width: 50%;
  background-color: #fff;
  padding: 25px;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}

.admin-charts-2,
.admin-recent-event-2 {
  width: 40%;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}

.admin-charts.toggle .admin-charts-1,
.admin-charts.toggle .admin-charts-2,
.admin-container.toggle .admin-access-card,
.admin-container.toggle .admin-recent-event-1,
.admin-container.toggle .admin-recent-event-2 {
  background-color: #39394b;
  color: #fff;
}

.admin-recent-events-heading {
  display: flex;
  width: 100%;
  height: 4vh;
  justify-content: space-between;
  align-items: center;
}

.admin-title {
  font-weight: 600;
}

.admin-recent-events-heading div {
  margin-top: -15px;
  font-size: 40px;
}

.admin-recent-events-content {
  width: 100%;
  text-align: center;
}

.admin-recent-events-content table {
  margin-left: -20px;
  margin-top: 15px;
  border-collapse: collapse;
}

.admin-recent-events-content table tr {
  cursor: pointer;
  border-radius: 15px;
  width: 100%;
}

.admin-recent-events-content table td {
  width: 150px;
  font-size: 16px;
  padding: 20px 0px;
  color: #788b9a;
  font-weight: 500;
  cursor: pointer;
}

.admin-container-toggle .admin-recent-events-content table td {
  color: #abadbf;
}

.admin-recent-events-content table tr:hover {
  background-color: #d3ebff;
  color: #3a36db;
}
.admin-recent-events-content table tr:hover td {
  color: #3a36db;
}

.admin-recent-events-content table td.header {
  font-weight: 500;
  color: #000;
  font-size: 17px;
  pointer-events: none;
  border: none;
}

.admin-container.toggle .admin-recent-events-content table td.header {
  color: #fff;
}

.div-active {
  position: relative;
  opacity: 1;
  z-index: 100;
}

.admin-details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  left: 0px;
}

.admin-container.toggle .admin-details {
  filter: invert(1);
}

.admin-details .svg {
  height: 27px;
  width: 25px;
}

.admin-details .logout {
  cursor: pointer;
}

.admin-details .admin-details-text-name-1 {
  font-size: 17px;
  font-weight: 900;
}

.admin-details .admin-details-text-name-2 {
  opacity: 0.4;
  font-size: 15px;
}
