@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body {
  display: flex;
}
a {
  text-decoration: none;
}
.left {
  height: 100vh;
  width: 40%;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.label {
  font-size: 26px;
  margin-top: -15px;
}
.img {
  margin-top: 8%;
}

.column {
  display: flex;
  width: 75%;
}

.btn {
  background: #f1f4fa;
  border-radius: 4px;
  border: none;
  padding: 10px 10px 0px 0px;
  margin: 5px;
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
}

.google {
  height: 60%;
  width: 50%;
}
.fb {
  width: 70%;
  height: 60%;
}
.line {
  display: flex;
  width: 85%;
  margin-left: 14%;
  gap: 0.3rem;
}
.text {
  font-size: 13px;
  font-weight: bold;
  align-self: start;
  margin-left: 15%;
  padding: 15px 0px 5px 0px;
  color: #04111b;
}
.input {
  width: 70%;
  height: 5%;
  border: none;
  border-radius: 4px;
  background-color: #f1f4fa;
  padding-left: 3%;
}
.btn2 {
  width: 70%;
  height: 5%;
  border: none;
  background: #3a36db;
  color: aliceblue;
  border-radius: 10px;
}
.btn2:hover {
  cursor: pointer;
  background-color: #110ec2;
}
hr {
  height: 1px;
  background-color: #f1f4fa;
  width: 37%;
  margin-top: 15px;
}

.img2 {
  height: 100%;
  width: 100%;
}

.title {
  background-color: #222131;
  width: 70%;
  height: 5%;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: start;
  padding-left: 7%;
  margin-top: 3%;
}
.title:hover {
  cursor: pointer;
  background-color: #101b24;
}
.reset {
  margin-left: 44%;
  font-size: 13px;
  margin-bottom: 10px;
}
.checkbox {
  display: flex;
  gap: 3px;
  margin: 15px 55px;
}
.checkbox label {
  color: #788b9a;
  font-size: 11px;
}
.bottomtext {
  font-size: 13px;
  font-weight: bold;
  color: #04111b;
  margin-top: 25px;
  color: #788b9a;
}
.right {
  height: 100vh;
  width: 100%;
  background: #f1f4fa;
}

.signup-email,
.signup-password,
.signup-email {
  width: 100%;
  text-align: center;
  margin-bottom: 1px;
}
